<ul class="flex justify-center py-0.5">
  <.menu_bar_item :if={not Kjogvi.Settings.registration_disabled?()}>
    <.link href={~p"/account/register"} class="no-underline hover:underline">
      Register
    </.link>
  </.menu_bar_item>

  <.menu_bar_item>
    <.link
      href={~p"/account/login"}
      class="no-underline font-normal text-[0.95rem] text-zinc-900 bg-slate-50 py-1.5 px-2 leading-8 md:leading-6"
    >
      Log in
    </.link>
  </.menu_bar_item>
</ul>
