<!DOCTYPE html>
<html lang="en" class="no-js [scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <!-- This section is not Live-refreshed, so in Dev Tools it may show the data for the initial page -->
    <.meta_robots content={assigns[:robots]} />
    <!-- End of not Live-refreshed section -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <.live_title suffix=" · Kjogvi">
      {assigns[:page_title] || ""}
    </.live_title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
      media="all"
    />
    <script>
      document.documentElement.classList.remove('no-js');
    </script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <div class="max-w-screen-2xl min-h-screen mx-auto shadow-2xl">
      {@inner_content}
    </div>
  </body>
</html>
