# fly.toml app configuration file generated for kjogvi on 2025-12-23T23:39:06-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

# Deploy to fly with short image label, matching the commit sha:
#
# fly deploy --image-label deployment-$(git rev-parse --short HEAD)

app = 'kjogvi'
primary_region = 'ord'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  release_command = '/app/bin/migrate'

[env]
  DNS_CLUSTER_QUERY = 'kjogvi.internal'
  ECTO_IPV6 = 'true'
  PHX_HOST = 'kjogvi.fly.dev'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
