<.header_single>
  Birding diary
</.header_single>

<.top_n_list list={@lifelist} total={@total} href={~p"/lifelist"}>
  <:header>Last 5 lifers</:header>
</.top_n_list>

<%!-- <.top_n_list list={[]} total={0}>
<:header>Empty</:header>
</.top_n_list> --%>
