<div class="mx-auto max-w-sm">
  <.main_flash flash={@flash} />

  <.form
    action={~p"/setup/register"}
    method="post"
    for={%{"setup_code" => nil}}
  >
    <div class="mt-8 space-y-8 bg-white">
      <CoreComponents.input name="setup_code" value="" type="text" label="Setup code" required />
      <div class="mt-2 flex items-center justify-between gap-6">
        <CoreComponents.button>Submit</CoreComponents.button>
      </div>
    </div>
  </.form>
</div>
