/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import './lifelist';

@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/kjogvi_web";
@source "../../../../apps/ornitho_web/css";
@source "../../../../apps/ornitho_web/js";
@source "../../../../apps/ornitho_web/lib/ornitho_web";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* Makes "fa-#{ICON}" classes available. */
@plugin "../vendor/font-awesome";

/* Add variants based on LiveView classes */
/* 
Allows prefixing tailwind classes with LiveView classes to add rules
only when LiveView classes are applied, for example:

    <div class="phx-click-loading:animate-ping">
*/
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }


/* ------ mine -------- */

@theme {
  --color-brand: #FD4F00;
  --font-header: 'Rubik', 'sans-serif', 'ui-sans-serif', 'system-ui';

  --color-forest-50: #f0f7f1;
  --color-forest-100: #dceedd;
  --color-forest-200: #b8ddb9;
  --color-forest-300: #7fc483;
  --color-forest-400: #4fa757;
  --color-forest-500: #2d8a38;
  --color-forest-600: #1f6e2a;
  --color-forest-700: #1a5823;
  --color-forest-800: #17461f;
  --color-forest-900: #143a1b;
}

@layer base {
  :root {
    /* font-size: 18px; */
    text-underline-offset: 2px;
    text-decoration-skip-ink: none;
  }
  a {
    text-decoration: underline;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility small-caps {
  font-variant: small-caps;
}

/* Elements that should be visible when JS is disabled */
.no-js .js-hidden-element {
  display: block; /* or whatever display value is appropriate */
}

/* Elements that should be hidden by default when JS is enabled */
.js-hidden-element {
  display: none;
}

/* This file is for your main application CSS */

