<.h1>
  Birding diary
</.h1>

<div class="md:grid md:grid-cols-2 md:gap-x-14 md:gap-y-8">
  <.top_n_list
    :for={{header, lifelist} <- @lists}
    list={lifelist.list}
    total={lifelist.total}
    href={lifelist_path(@current_scope, lifelist.filter)}
    class="mb-8 md:mb-0"
  >
    <:header>{header}</:header>
  </.top_n_list>
</div>
