name: "Tests"
on:
  workflow_call:
    inputs:
      elixir:
        required: false
        type: string
      otp:
        required: false
        type: string
  workflow_dispatch:
    inputs:
      elixir:
        description: Elixir version
        required: false
        type: string
      otp:
        description: OTP version
        required: false
        type: string
jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17.6-bookworm
        ports:
          - "5432:5432"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_USER: kjogvi
          POSTGRES_DB: kjogvi_test
          POSTGRES_PASSWORD: "kjogvi"
    steps:
      - uses: actions/checkout@v6
      - name: Setup test environment
        uses: ./.github/actions/setup
        with:
          env: test
          elixir: ${{ inputs.elixir }}
          otp: ${{ inputs.otp }}
      - name: Run tests with coverage
        env:
          MIX_ENV: test
          DATABASE_URL: "postgres://kjogvi:kjogvi@localhost:5432/kjogvi_test"
          DATABASE_ORNITHO_URL: "postgres://kjogvi:kjogvi@localhost:5432/ornithologue_test"
        run: mix do ecto.setup + coveralls.html --umbrella
      - name: Code coverage results
        uses: actions/upload-artifact@v6
        with:
          name: Coverage
          path: cover/
