name: Tests

on:
  push:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup test environment
        uses: ./.github/actions/setup
        with:
          env: dev
          elixir: v1.19.3
          otp: "28.1"
      - name: Run lint
        env:
          MIX_ENV: dev
        run: mix lint.github
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: "v1.19.3"
            otp: "28.1"
          - elixir: "v1.18.4"
            otp: "27.3.4.2"
    services:
      postgres:
        image: postgres:17.6-bookworm
        ports:
          - "5432:5432"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_USER: kjogvi
          POSTGRES_DB: kjogvi_test
          POSTGRES_PASSWORD: "kjogvi"
    steps:
      - uses: actions/checkout@v4
      - name: Setup test environment
        uses: ./.github/actions/setup
        with:
          env: test
          elixir: ${{ matrix.elixir }}
          otp: ${{ matrix.otp }}
      - name: Run tests with coverage
        env:
          MIX_ENV: test
          DATABASE_URL: "postgres://kjogvi:kjogvi@localhost:5432/kjogvi_test"
          DATABASE_ORNITHO_URL: "postgres://kjogvi:kjogvi@localhost:5432/ornithologue_test"
        run: mix do ecto.setup + coveralls.html --umbrella
      - name: Code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: Coverage-Elixir-${{ matrix.elixir }}-otp-${{ matrix.otp }}
          path: cover/

  build_image:
    name: "Docker image"
    uses: ./.github/workflows/build.yml
    secrets:
      DOCKER_AWS_ACCESS_KEY_ID: ${{ secrets.DOCKER_AWS_ACCESS_KEY_ID }}
      DOCKER_AWS_SECRET_ACCESS_KEY: ${{ secrets.DOCKER_AWS_SECRET_ACCESS_KEY }}
    needs:
      - test
    if: github.ref == 'refs/heads/main'
